<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="author" content="{% if config.translator %}{{ config.translator }}{% else %}{{ config.author }}{% endif %}" />
    <meta name="date" content="{{ config.publication_date }}"/>
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>

<body>
	<div class="container">
		{% block body %}{% endblock %}
	</div>
</body>
</html>
